{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <main>
    <section>
      <div class="content d-flex flex-column align-items-center">
        <h1 class="text-light">Login!</h1>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form show_label=False size="sm" wrapper_class="pb-3" %}
          {% bootstrap_button "Login" button_type="submit" button_class="btn-primary mb-5" size="sm" %}
        </form>
      </div>
    </section>
  </main>
{% endblock content %}
