{% extends "base.html" %}
{% block title %}
  My Tasks
{% endblock title %}
{% block content %}
  {% comment %} <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        Hello, {{ user.username }}
        <a href="{% url 'user_logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </nav>
  </header> {% endcomment %}
  <main>
    <h1>My Tasks</h1>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Submit</button>
    </form>
    {% if tasks.all %}
      {% for task in tasks %}
        <div>
          <p>{{ task.task }}</p>
          {% if task.completed %}
            <p>{{ task.completed|yesno }}</p>
          {% else %}
            <a href="{% url 'mark_completed' task.id %}">Completed?</a>
          {% endif %}
          <a href="{% url 'delete' task.id %}">Delete</a>
        </div>
      {% endfor %}
    {% else %}
      <p>You have no tasks</p>
    {% endif %}
  </main>
{% endblock content %}
